*{
	box-sizing:border-box;
}
body,html{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color:black;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	font-variant:small-caps;
	font-family: serif;
}

#initial-loading-screen
{
	position:fixed;
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:black;
	z-index:100;
	flex-direction:column;
	font-size:1rem;
	text-align:center;
	animation:fade 4.0s linear infinite;
}
#loading-text
{
	font-size:2rem;
}

#game-container
{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:green;
}

#dialogbox
{
	bottom:1%;
	position:absolute;
	background-color:black;
	border:2px solid white;
	width:99%;
	text-align:center;
	font-size:2rem;
}

canvas{
	margin:auto;
	border:2px solid white;
	padding:1px;
	height:99%!important;
	max-height:600px;
}
@media (orientation: portrait) {
  canvas{
	  width:99% !important;
	  height:auto !important;
	  max-width:800px;
  }
}
@keyframes fade{
  0% {}
  50% {color:#111}
  100% {}
}
