*{
	box-sizing:border-box;
}
body,html{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	background-color:black;
	color:white;
	display:flex;
	font-variant:small-caps;
	font-family: serif;
}

#initial-loading-screen
{
	position:fixed;
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:black;
	z-index:100;
	flex-direction:column;
	font-size:2rem;
	animation:fade 4.0s linear infinite;

}

canvas{
	margin:auto;
	border:2px solid white;
	padding:1px;
	height:99%!important;
	max-height:600px;
}
@media (orientation: portrait) {
  canvas{
	  width:99% !important;
	  height:auto !important;
	  max-width:800px;
  }
}
@keyframes fade{
  0% {}
  50% {color:#111}
  100% {}
}
